<!-- Bootstrap Navbar -->
<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Video Chart</a>
  </div>
</nav>

<div class="container">
  <div [style.margin-top.px]="10" class="row"> 
    <div [style.margin-right.px]="10" class="card card-block col-md-12" *ngFor="let video of videos ; let i = index ;  trackBy:identify">
      <div class="col-md-1">No.{{ i+1 }}</div> 
      <div class="col-md-3">
        <video class="thumb_img" poster="{{ video.thumb }}" controls (play)="updateView(video._id)" #videoPlayer  >
            <source src="{{ video.sources }}" type="video/mp4">
        </video>
      </div>
      <div class="col-md-5">
        <h4 class="card-title">{{video.title}}</h4>
        <p class="card-desc">{{video.description}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-view">Views : {{video.views}}</p>
        <a href="#" class="btn btn-xs btn-warning"  [ngClass]="{'btn-add': !clicked, 'btn-remove': clicked}"    (click)="updateLike(video._id); clicked = !clicked"><i class="fas fa-star" [ngClass]="{'fa-plus-circle': !clicked, 'fa-minus-circle': clicked}"></i>Like</a>
      </div>
    </div>
  </div>
</div>
