.thumb_img{
    width: 100%;
}

.card-desc{
    font-size: 14px;
}
img, video {
    cursor: pointer;
}

.video-title .inline{
display: inline;
}
.btn {
    padding-left: 0px;
    white-space: normal;
    text-align: left;
}
